SnuuzFiles/*.iml
SnuuzFiles/.gradle
SnuuzFiles/local.properties
SnuuzFiles/.idea/workspace.xml
SnuuzFiles/AnyChart/.idea/workspace.xml
SnuuzFiles/.idea/.name
SnuuzFiles/.DS_Store
SnuuzFiles/build
SnuuzFiles/captures
SnuuzFiles/.externalNativeBuild
SnuuzFiles/.cxx
